<!DOCTYPE html>
<html>
<head>
    <title>PowerMonitor</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="bar-graph"></div>

    <script>
        // Function to load the initial bar graph data
        function loadBarGraph() {
            fetch('/graph_data')
                .then(response => response.json())
                .then(data => {
                    console.log('Response:', data); // Debug statement
                    var parsedData = JSON.parse(data);
                    console.log('Parsed Data:', parsedData); // Debug statement
                    Plotly.newPlot('bar-graph', parsedData.data, parsedData.layout)
                    .then(function(gd) {
                        gd.on('plotly_click', handleBarClick);
                    });
                });
        }

        // Function to handle bar click events and load the per-minute breakdown graph
        function handleBarClick(event) {
            if (event && event.points) {
                var timestamp = event.points[0].x;
                var encodedTimestamp = encodeURIComponent(timestamp);
                console.log('Encoded Timestamp:', encodedTimestamp); // Debug statement

                fetch('/graph_data/' + encodedTimestamp)
                    .then(response => response.json())
                    .then(data => {
                        console.log('Response:', data); // Debug statement

                        var parsedData = JSON.parse(data);
                        console.log('Parsed Data:', parsedData); // Debug statement

                        Plotly.newPlot('bar-graph', parsedData.data, parsedData.layout);
                    });
            }
        }

        // Load the initial bar graph
        document.addEventListener('DOMContentLoaded', function() {
            loadBarGraph();
        });  // This line was missing in your code
    </script>
</body>
</html>
