<!DOCTYPE html>
<html>
<head>
    <title>PowerMonitor</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
.status-0 {
  background-color: hsl(0, 50%, 90%);
}

.status-1 {
  background-color: hsl(120, 50%, 85%);
}

.status-500 {
  background-color: hsl(0, 0%, 80%);
}

.status-504 {
  background-color: hsl(0, 100%, 95%);
}

.status-403 {
  background-color: hsl(30, 100%, 75%);
}

.status-6, .status-2 {
  background-color: hsl(0, 100%, 75%);
}

.status-400 {
  background-color: hsl(240, 100%, 75%);
}

.status-200 {
  background-color: hsl(180, 50%, 70%);
}

        .collapsible {
            cursor: pointer;
            list-style: none;
            padding: 2px;
            border: 1px solid #ccc;
            margin-bottom: 2px;
        }

        .collapsible.active {
            background-color: #f9f9f9;
        }

        .content {
            margin-top: 2px;
            overflow: hidden;
            height: 1.6em;
            line-height: 1.6em;
        }

        .content.collapsed {
            height: 1.6em;
        }

        .collapsible.active .content {
            height: auto;
        }

        .container {
            display: flex;
        }

        #minute-detail-list {
            width: 35%;
            height: 100vh;
            overflow-y: scroll;
            border-right: 1px solid #ccc;
            padding: 10px;
        }

        #file-content {
            flex: 1;
            height: 100vh;
            overflow-y: scroll;
            padding: 10px;
            margin-left: 15px;
        }

        .tab {
            display: none;
        }

        .tab.active {
            display: block;
        }

        .tab-buttons {
            margin-bottom: 10px;
        }

        .tab-buttons button {
            padding: 5px 10px;
            margin-right: 5px;
        }
        .rounder_corner {
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        /* New style for the copy icon */
        .copy-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

                /* New style for the copy icon */
        .file-content {
            position: relative;
        }

        #bar-graph {
            width: 100%;
            height: 500px; /* Set the initial height */
            position: relative;
        }
    </style>
</head>
<body>
<div class="tab-buttons">
    <button id="request-per-hour-button" onclick="switchTab('request-per-hour')">JAWS Server Stats</button>
    <button id="empty-tab-button" onclick="switchTab('empty-tab')">Empty Tab</button>
</div>
<div id="main-frame">
    <div id="request-per-hour" class="tab active">
        <div id="bar-graph" class="rounder_corner"></div>
        <button id="back-button">Back</button>
        <select id="server-dropdown">
            <option value="Production">Production</option>
            <option value="Testing">Testing</option>
        </select>
        <select id="broker-dropdown">
            <!-- Broker options will be populated here by JavaScript -->
        </select>
        <div class="container">
            <div class="rounder_corner" id="minute-detail-list"></div>
            <div class="rounder_corner"  id="file-content"></div>
        </div>
    </div>
    <div id="empty-tab" class="tab">
        <h1>Empty Tab</h1>
    </div>
</div>

<script>
    // Function to load the initial bar graph data
    var isViewingDetailedData = false;
    var lastEncodedTimestamp = '';
    var lastStatus = '';

    function loadBarGraph() {
        console.log('Loading bar graph data...');
        var dropdown = document.getElementById('broker-dropdown');
        var selectedBroker = dropdown.value;  // Get the selected broker pq_clientid
        if (selectedBroker === '') {
            selectedBroker = 'None';
        }

        var dropdownServer = document.getElementById('server-dropdown');
        var selectedServer = dropdownServer.value;  // Get the selected server

        console.log('Selected Broker: ' + selectedBroker);
        if (!isViewingDetailedData) {
            // Include selectedBroker in the URL only when it is not 'None'
            //var url = '/graph_data_client/' + (selectedBroker !== 'None' ? selectedBroker : '');
            var url = '/graph_data_client/' + selectedBroker + '/' + selectedServer;
            console.log('url:' + url);
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    var parsedData = JSON.parse(data);
                    Plotly.newPlot('bar-graph', parsedData.data, parsedData.layout)
                        .then(function(gd) {
                            gd.on('plotly_click', handleBarClick);
                        });
                });
            setTimeout(loadBarGraph, 30000);  // Call this function again after 30 seconds

            // Add resize event listener to dynamically resize the plot
            window.addEventListener('resize', function() {
                var container = document.getElementById('bar-graph');
                var width = container.offsetWidth;

                Plotly.relayout('bar-graph', {
                    width: width
                });
            });
        }else{
            console.log('Loading minute detail data...');
            var dropdownServer = document.getElementById('server-dropdown');
            var selectedServer = dropdownServer.value;  // Get the selected server
            url = '/graph_data/' + lastEncodedTimestamp + '?pq_clientid=' + selectedBroker+"-"+selectedServer;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    var parsedData = JSON.parse(data);
                    Plotly.newPlot('bar-graph', parsedData.data, parsedData.layout)
                        .then(function(gd) {
                            gd.on('plotly_click', handleBarClick);
                        });
                });
        }
    }

    function handleBarClick(event) {
        if (event && event.points) {
            var timestamp = event.points[0].x;
            var encodedTimestamp = encodeURIComponent(timestamp);

            var pointNumber = event.points[0].pointNumber;
            var traceIndex = event.points[0].curveNumber;

            var dropdown = document.getElementById('broker-dropdown');
            var selectedBroker = dropdown.value;  // Get the selected broker pq_clientid
            if (selectedBroker === '') {
                selectedBroker = 'None';
            }

            var dropdownServer = document.getElementById('server-dropdown');
            var selectedServer = dropdownServer.value;  // Get the selected server

            if (isViewingDetailedData) {
                // Get the Plotly figure
                var graphDiv = document.getElementById('bar-graph');
                var data = graphDiv.data;

                // Get the status from the trace name
                var status = data[traceIndex].name;
                console.log('Status: ' + selectedServer);
                fetch('/minute_breakdown/' + encodedTimestamp + '/' + status + '/' + selectedServer)
                    .then(response => response.json())
                    .then(data => {
                    var minuteDetailList = document.getElementById('minute-detail-list');
                    minuteDetailList.innerHTML = ''; // Clear previous content
                    console.log(data);

                    var itemMap = new Map(); // Create a map to group items by srnumber

                    // Iterate over the data and group items by srnumber
                    data.forEach(item => {
                      if (item.pq_clientid == selectedBroker || selectedBroker == 'None') {
                        if (!itemMap.has(item.srnumber)) {
                          itemMap.set(item.srnumber, []);
                        }
                        itemMap.get(item.srnumber).push(item);
                      }
                    });

                    // Iterate over the grouped items and create HTML elements
                    itemMap.forEach((items, srnumber) => {
                      var listItem = document.createElement('li');
                      listItem.classList.add('collapsible'); // Add the 'collapsible' class to the listItem

                      var contentContainer = document.createElement('div');
                      contentContainer.classList.add('content', 'collapsed'); // Add the 'content' and 'collapsed' classes to the contentContainer
                      console.log(itemMap);
                      contentContainer.id = items[0]['srnumber'];
                      createRequestDetails(items[0], contentContainer);

                        contentContainer.appendChild(document.createElement('br')); // Add a line break

                      items.forEach(item => {
                        var itemContainer = document.createElement('div');
                        //createRequestDetails(item, itemContainer);
                            itemContainer.classList.add('status-' + item['status']); // Add the 'content' and 'collapsed' classes to the contentContainer

                            valueSpan = document.createElement('span');
                            var lob_text;
                            if (item['lob'].charAt(0) === '1') {
                              lob_text = 'Auto';
                            } else if (item['lob'].charAt(0) === '2') {
                              lob_text = 'Home';
                            } else {
                              lob_text = 'Credit';
                            }

                          valueSpan.textContent = item['insurer'] + ' ' + lob_text + ' ' + item['prov'];
                          valueSpan.style.cssFloat = 'left'; // Align to the left
                          itemContainer.appendChild(valueSpan);

                          responsetimeSpan = document.createElement('span');
                          responsetimeSpan.textContent = 'Response Time: ' + item['responsetime'];
                          responsetimeSpan.style.cssFloat = 'right'; // Align to the right
                          itemContainer.appendChild(responsetimeSpan);

                            itemContainer.appendChild(document.createElement('br')); // Add a line break

                          serverSpan = document.createElement('span');
                          serverSpan.textContent = item['servername'];
                          serverSpan.style.cssFloat = 'right'; // Align to the right
                          itemContainer.appendChild(serverSpan);



                        var button3 = createDownloadButton('/process_file_location', 'Request', item.requestfile);
                        var button4 = createDownloadButton('/process_file_location', 'Response', item.responsefile);

                        // Append the buttons to the item container
                        itemContainer.appendChild(button3);
                        itemContainer.appendChild(button4);

                        // Append the item container to the content container
                        contentContainer.appendChild(itemContainer);
                      });

                      listItem.appendChild(contentContainer);
                      minuteDetailList.appendChild(listItem);

                        // Add click event listener to toggle collapsing/expanding of the list item
                        listItem.addEventListener("click", function () {
                            var listItems = document.getElementsByClassName("collapsible");
                            for (var i = 0; i < listItems.length; i++) {
                                if (listItems[i] !== this) {
                                    listItems[i].classList.remove("active");
                                    var content = listItems[i].querySelector(".content");
                                    content.classList.add("collapsed");
                                }
                            }

                            this.classList.toggle("active");
                            var content = this.querySelector(".content");
                            content.classList.toggle("collapsed");
                        });
                    });


                    });
            } else {
                isViewingDetailedData = true;
                console.log('Loading minute detail data...');
                var dropdownServer = document.getElementById('server-dropdown');
                var selectedServer = dropdownServer.value;  // Get the selected server
                lastEncodedTimestamp = encodedTimestamp;
                url = '/graph_data/' + encodedTimestamp + '?pq_clientid=' + selectedBroker+"-"+selectedServer;
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        var parsedData = JSON.parse(data);
                        Plotly.newPlot('bar-graph', parsedData.data, parsedData.layout)
                            .then(function(gd) {
                                gd.on('plotly_click', handleBarClick);
                            });
                    });
            }
        }
    }


    function handleBackButtonClick() {
        isViewingDetailedData = false;

        loadBrokers();
        loadBarGraph();

        var minuteDetailList = document.getElementById('minute-detail-list');
        minuteDetailList.innerHTML = ''; // Clear the minute detail list

        var fileContent = document.getElementById('file-content');
        fileContent.textContent = ''; // Clear the file content
    }

    function displayFormattedXML(data) {
        var fileContentColumn = document.getElementById('file-content');
        fileContentColumn.innerHTML = ''; // Clear previous content

        var parser = new DOMParser();
        var xmlDoc = parser.parseFromString(data, 'application/xml');
        var formattedXML = new XMLSerializer().serializeToString(xmlDoc);

        var pre = document.createElement('pre');
        pre.textContent = formattedXML;

        fileContentColumn.appendChild(pre);
    }

    function createDownloadButton(url, label, responsefile) {
        var button = document.createElement('button');
        button.textContent = label;
                
          // Disable the button if responsefile is empty or null
          if (!responsefile) {
            button.disabled = true;
          }

         button.addEventListener('click', function(event) {
            event.stopPropagation(); // Prevent event propagation
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ responsefile_path: responsefile })
            })
            .then(response => {
                if (response.ok) {
                    return response.text(); // or response.json() if the response is JSON
                } else {
                    throw new Error('Request failed with status ' + response.status);
                }
            })
            .then(data => {
                console.log('Response:', data); // Log the full response
                displayFormattedXML(data); // Display the response in the file-content column

                // Add the copy icon to the file-content div
                var fileContentDiv = document.getElementById('file-content');
                fileContentDiv.classList.add('file-content');
                var copyIcon = document.createElement('span');
                copyIcon.innerHTML = '&#128203;'; // Unicode for clipboard icon (📋)
                copyIcon.classList.add('copy-icon');
                copyIcon.addEventListener('click', copyFileContents);
                fileContentDiv.appendChild(copyIcon);
            })
            .catch(error => {
                console.error('An error occurred while processing file location', error);
            });

        });

        return button;
    }

    function createRequestDetails(item, contentContainer) {
        // Clear the contentContainer
        contentContainer.innerHTML = '';
      var valueSpan = document.createElement('span');
      valueSpan.textContent = item['brokername'];
      contentContainer.appendChild(valueSpan);

      valueSpan = document.createElement('span');
      valueSpan.textContent = item['pq_clientid'];
      contentContainer.appendChild(valueSpan);

      quoteNumberSpan = document.createElement('span');
        quoteNumberSpan.textContent = item['quotenumber'];
        quoteNumberSpan.style.cssFloat = 'right'; // Align to the right
        contentContainer.appendChild(quoteNumberSpan);

      contentContainer.appendChild(document.createElement('br')); // Add a line break

        if (item['subbrokerid']) {
          subbrokeridSpan = document.createElement('span');
          subbrokeridSpan.textContent = 'Subbroker: ' + item['subbrokerid'];
          contentContainer.appendChild(subbrokeridSpan);
          contentContainer.appendChild(document.createElement('br')); // Add a line break
        }




        var button1 = createDownloadButton('/process_file_location', 'ServiceRequest', item.sr_requestfile);
        var button2 = createDownloadButton('/process_file_location', 'ServiceResponse', item.sr_responsefile);

        // Append the buttons to the item container
        contentContainer.appendChild(button1);
        contentContainer.appendChild(button2);

      contentContainer.appendChild(document.createElement('br')); // Add a line break
    }

    function switchTab(tabId) {
        var tabs = document.getElementsByClassName('tab');
        for (var i = 0; i < tabs.length; i++) {
            tabs[i].classList.remove('active');
        }

        var buttons = document.getElementsByClassName('tab-buttons')[0].getElementsByTagName('button');
        for (var j = 0; j < buttons.length; j++) {
            buttons[j].classList.remove('active');
        }

        document.getElementById(tabId).classList.add('active');
        document.getElementById(tabId + '-button').classList.add('active');
    }

    function handleServerDropDownChange() {
        var serverDropdown = document.getElementById('server-dropdown');

        var selectedServer = serverDropdown.value;
        console.log('Selected Server:', selectedServer);
        // Clear the contentContainer
        var detailsContainer = document.getElementById('minute-detail-list');
        detailsContainer.innerHTML = '';

        // Clear the file-content
        var fileContentDiv = document.getElementById('file-content');
        fileContentDiv.innerHTML = '';

        loadBrokers();
        loadBarGraph();
        // Perform actions based on the selected server value
        // For example, you can reload data specific to the selected server
    }

    function refilter(){
        console.log('Refiltering data');
        isViewingDetailedData = false;
        // Clear the contentContainer
        var detailsContainer = document.getElementById('minute-detail-list');
        detailsContainer.innerHTML = '';

        // Clear the file-content
        var fileContentDiv = document.getElementById('file-content');
        fileContentDiv.innerHTML = '';

        loadBarGraph();

        console.log('Reloading minute detail data...');
        var dropdownServer = document.getElementById('server-dropdown');
        var selectedServer = dropdownServer.value;  // Get the selected server

        var dropdown = document.getElementById('broker-dropdown');
        var selectedBroker = dropdown.value;  // Get the selected broker pq_clientid
        if (selectedBroker === '') {
            selectedBroker = 'None';
        }

        url = '/graph_data/' + lastEncodedTimestamp + '?pq_clientid=' + selectedBroker+"-"+selectedServer;
        fetch(url)
            .then(response => response.json())
            .then(data => {
                var parsedData = JSON.parse(data);
                Plotly.newPlot('bar-graph', parsedData.data, parsedData.layout)
                    .then(function(gd) {
                        gd.on('plotly_click', handleBarClick);
                    });
            });
    }

    // Function to copy file contents to clipboard
    function copyFileContents() {
        var fileContent = document.getElementById('file-content');
        var range = document.createRange();
        range.selectNodeContents(fileContent);
        var selection = window.getSelection();
        selection.removeAllRanges();
        selection.addRange(range);
        document.execCommand('copy');
        selection.removeAllRanges();
    }

    function loadBrokers() {
        var dropdownServer = document.getElementById('server-dropdown');
        var selectedServer = dropdownServer.value;  // Get the selected server

        fetch('/brokers/'+selectedServer)
            .then(response => response.json())
            .then(data => {
            console.log('Brokers:', data);
                var dropdown = document.getElementById('broker-dropdown');
                // Clear old options
                dropdown.innerHTML = '';
                // Add a default option
                var defaultOption = document.createElement('option');
                defaultOption.value = 'None';
                defaultOption.textContent = 'All brokers';
                dropdown.appendChild(defaultOption);
                // Sort data by broker name
                data.sort((a, b) => a[0].localeCompare(b[0]));
                // Add an option for each broker
                data.forEach(broker => {
                    var option = document.createElement('option');
                    option.value = broker[1]; // pq_clientid
                    option.textContent = broker[0]; // brokername
                    dropdown.appendChild(option);
                });
            });
    }


    document.addEventListener('DOMContentLoaded', function() {
        loadBrokers();
        loadBarGraph();

        var backButton = document.getElementById('back-button');
        backButton.addEventListener('click', handleBackButtonClick);

        var mainTab = document.getElementById('request-per-hour-button');
        mainTab.addEventListener('click', handleBackButtonClick);

        var dropdown = document.getElementById('broker-dropdown');
        dropdown.addEventListener('change', refilter);

        var serverDropdown = document.getElementById('server-dropdown');
        serverDropdown.addEventListener('change', handleServerDropDownChange);
    });

</script>
</body>
</html>
