<!DOCTYPE html>
<html>
<head>
    <title>PowerMonitor</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<div id="bar-graph"></div>
<button id="back-button">Back</button>
<div id="minute-detail-list"></div>
<script>
        // Function to load the initial bar graph data
        var isViewingDetailedData = false;

function loadBarGraph() {
    if (!isViewingDetailedData) {
        fetch('/graph_data')
            .then(response => response.json())
            .then(data => {
                var parsedData = JSON.parse(data);
                Plotly.newPlot('bar-graph', parsedData.data, parsedData.layout)
                    .then(function(gd) {
                        gd.on('plotly_click', handleBarClick);
                    });
            });
        setTimeout(loadBarGraph, 30000);  // Call this function again after 30 seconds
    }
}

function handleBarClick(event) {
    if (event && event.points) {
        var timestamp = event.points[0].x;
        var encodedTimestamp = encodeURIComponent(timestamp);

        var pointNumber = event.points[0].pointNumber;
        var traceIndex = event.points[0].curveNumber;

        if (isViewingDetailedData) {
            // Get the Plotly figure
            var graphDiv = document.getElementById('bar-graph');
            var data = graphDiv.data;

            // Get the status from the trace name
            var status = data[traceIndex].name;
            console.log(traceIndex);
            console.log(status);

            fetch('/graph_data/' + encodedTimestamp + '/' + status)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    var minuteDetailList = document.getElementById('minute-detail-list');
                    minuteDetailList.innerHTML = ''; // Clear previous content

                    // Iterate over the data and create HTML elements
                    data.forEach(item => {
                        var listItem = document.createElement('li');
                        listItem.textContent = `${item.insurer}, Status: ${item.status}`;
                        minuteDetailList.appendChild(listItem);
                    });
                });
        }else{
            isViewingDetailedData = true;
            fetch('/graph_data/' + encodedTimestamp)
                .then(response => response.json())
                .then(data => {
                    var parsedData = JSON.parse(data);
                    Plotly.newPlot('bar-graph', parsedData.data, parsedData.layout)
                        .then(function(gd) {
                            gd.on('plotly_click', handleBarClick);
                        });
                });
        }
    }
}

function handleBackButtonClick() {
    isViewingDetailedData = false;
    loadBarGraph();

    var minuteDetailList = document.getElementById('minute-detail-list');
    minuteDetailList.innerHTML = ''; // Clear the minute detail list
}

document.addEventListener('DOMContentLoaded', function() {
    loadBarGraph();

    var backButton = document.getElementById('back-button');
    backButton.addEventListener('click', handleBackButtonClick);
});

</script>
</body>
</html>
